{% extends 'base.html.twig' %}

{% block title %}Anglais{% endblock %}

{% block body %}
<br/>
<br/>
<h3>Voici un exercice sur la connaissance des verbes irréguliers</h3>
<br/>
<br/>
La première liste correspond aux verbes connus par une classe de 5ème<br/>
La deuxième est une liste pour le niveau des 3èmes<br/>
<br/>
<ul>
<li>Vous allez devoir répondre à 10 questions.</li>
<li>Vous ne pouvez pas passer à la suivante tant que les 3 zones de saisie ne sont pas remplie.</li>
<li>Une fois les 3 zones remplie, le bouton passse au vert pour aller à la question d'après.</li>
<li>Cet exercice n'est pas chronométré.</li>
</ul>
{% endblock %}
