{% extends 'base.html.twig' %}

{% block title %}Anglais{% endblock %}
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

{% block body %}
    <br/>
    <br/>

    <div class="container"  style="clear: both;">
        <div class="card">
            <div class="card-header">{{ titre }}</div>
            <div class="card-body">
                <a id="next" class="btn btn-primary" href="{{ link }}" role="button">Commencer</a>
            </div>
        </div>
    </div>
{% endblock %}
