{% extends 'base.html.twig' %}

{% block title %}Anglais{% endblock %}

{% block body %}
<br/>
<br/>
<h3>Voici un exercice sur la connaissance des verbes irréguliers</h3>
<br/>
<br/>
La première liste correspond aux verbes connus par une classe de 5ème<br/>
La deuxième est une liste pour le niveau des 3èmes
{% endblock %}
