// @import "~bootstrap/scss/bootstrap";
@import 'bootstrap.css'; /* https://bootswatch.com/slate/ */
@import '~bootstrap-toggle/css/bootstrap-toggle.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'theme_switcher.css';
@import 'sidemenu.css';
@import 'step_progress.css';

html ,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div#brand {
    background: var(--brand);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 30px;
    padding: 0;
}

div#Blackbee {
    background: var(--blackbee);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 20px;
    padding: 0;
}

.pageContainer {
    position: absolute;
    padding: 0 10px 75px 260px;
    width: 100%;
}

.admin_id {
    position: relative;
    bottom: 1px;
    font-size: .6em;
    line-height: .6em;
    vertical-align:super;
    text-decoration:none;
    color: #ff0000;
}

.copyright {
    font-size: .6em;
}

.question {
    font-family: "Courier New", Courier, monospace;
    font-size: 3em;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.quest_input {
    font-size: 1.5em;
}